! ~/.Xresources
! Comments begin with a "!" character.

!! X FreeType
Xft.dpi: 192

!! XTerm
XTerm*loginShell: true
XTerm*metaSendsEscape: true
XTerm*saveLines: 2000
XTerm*selectToClipboard: true
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*background: grey5
XTerm*foreground: grey90
XTerm*cursorColor: white
XTerm*cursorBlink: false

XTerm*utf8: 1
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 9
XTerm*scaleHeight: 1.01
